.header-container {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-family: 'Roboto';

  position: sticky;
  background-color: #FFF;
  top: 0
}

@media screen and (max-width: 840px) {
  .header-container {
    justify-content: center;
    width: 100%;
    height: 100%;
    position: static;
  }

  .header-menu {
    flex-wrap: wrap;

  }
}

@media screen and (min-width: 1024px) {
  .header-menu {
    gap: 68px;
  }
}

.header-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-menu-item {
  color: #333;
  font-size: 20px;
  text-decoration: none;
  padding: 10px;
  /* margin: 10px;*/

}

.header-menu-item:hover {
  color: #EA7148;
}

.header-contacts {
  align-self: center;
}

.header-contacts-item {
  padding: 10px;
}

.header-icon {
  max-width: 1.5em;
}