.footer-container {
  max-width: 100%;
  max-width: 1180px;
  margin: 0 auto;
  height: 100%;
  /*max-height: 265px;*/
  display: flex;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;

}

@media screen and (max-width: 1024px) {
  .footer-container {
    flex-direction: column;
  }

  form {
    width: 50%;
  }
}

.footer-text {
  font-family: Cormorant;
  font-size: clamp(1.5rem, 2vw, 4rem);
  line-height: 60px;
}

.footer-links {
  display: flex;
  justify-content: center;
  text-align: center;
}



.form-input {
  height: 2em;
  border: 1px solid gainsboro;
  padding: 7px;
  justify-content: center;
  align-items: center;
  background-color: #F9F6F2;
  font-family: Cormorant;

  font-family: 'Roboto', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.form-btn {
  font-size: clamp(1.5rem, 2vw, 4rem);
}

.form-container {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
}

@media screen and (max-width: 600px) {
  .form-input {
    width: 100%;
  }

  .form-container {
    margin: 0 auto;
  }


}

.footer-link-img {
  max-width: 7em;
  padding: 10px;
}