.main-container {
  margin: 0 auto;
  max-width: 100%;
  font-family: 'Roboto', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}



.banner-img {
  max-width: 1440px;
  object-fit: fill;
  width: 100%;

}

@media screen and (min-width: 1025px) {}

.banner-container {

  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-btn {
  display: flex;
  background-color: #EA7148;
  border-radius: 20px;
  border-style: none;
  padding: 7px;
  justify-content: center;
  align-items: center;
  color: #F9F5F2;
  font-family: Cormorant;
  text-decoration: none;
}

.banner-items-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 80%;


}

@media screen and (min-width: 1025px) {
  .banner-items-container {
    justify-content: center;
    max-height: 700px;
  }

  .banner-btn,
  .banner-logo,
  .banner-slogan {
    padding: 10px;
  }

  .banner-btn {
    width: 480px;
    font-size: clamp(1rem, 1.5vw, 2rem);
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .banner-logo {
    width: 462px;
  }



}

@media screen and (min-width: 762px) {

  .banner-btn,
  .banner-logo,
  .banner-slogan {
    padding: 10px;
  }



  .materials-text {
    width: 100%;
  }


}

.banner-logo {
  max-width: 100%;
}

@media screen and (max-width: 420px) {
  .banner-slogan {
    display: none;
  }


}

@media screen and (min-width: 800px) {
  .banner-slogan {
    font-size: 20px;
    line-height: 60px;
  }

  .banner-items-box {
    width: 50%;
    z-index: 5;
    position: absolute;
  }

  /*.materials-pictures {
    width: 780px;
    justify-content: center;
    align-items: flex-start;
    gap: 100px;
  }*/

  .materials-item {

    margin: 1em;
  }

  .materials-text {
    width: 25%;
    align-self: center;
    font-family: Cormorant;
    font-size: clamp(1rem, 2.5vw, 2rem);
    font-style: normal;
    font-weight: 500;
    line-height: 60px;
    /* 130% */
  }


}


.materials-pictures {
  text-align: center;
}

.banner-slogan {
  text-align: center;
  line-height: normal;

}

.banner-items-box {

  display: flex;
  justify-content: center;
  width: 50%;
  z-index: 5;
  position: absolute;
  left: 20px;
  font-size: clamp(1rem, 2.5vw, 2rem);


}

.about-container,
.process-items-container {
  display: flex;
  max-width: 100%;
  width: 1180px;
  height: 100%;
  margin: 80px auto;
  align-items: flex-start;
  gap: 50px;
  flex-shrink: 0;
}

@media screen and (max-width: 840px) {
  .about-container {
    flex-direction: column;
    margin: 0 auto;
    gap: 0;
    /*font-size: small;*/
  }
}

@media screen and (max-width: 900px) {
  .materials-content {
    flex-direction: column-reverse;
  }

}

@media screen and (max-width: 800px) {
  .materials-item {
    width: 150px;
    margin: 0.5em;
  }
}

@media screen and (max-width: 600px) {


  .process-items-container {
    flex-direction: column;
    margin: 0 auto;
    gap: 0;
    font-size: small;
  }




  .heading {
    text-align: center;
    font-size: 1.5em;
  }




  .materials-pictures {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    gap: 5px;
  }






}


.about-text-heading {
  font-size: clamp(2rem, 3vw, 4rem);
  font-weight: 600;
  line-height: 60px;
  font-style: normal;
}

.about-text-central {
  font-size: clamp(1.5rem, 2vw, 4rem);
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  max-width: 29em;
}

.about-text-end {
  font-size: clamp(2rem, 2vw, 4rem);
  text-align: center;
  line-height: 3rem;
  letter-spacing: 1px;
  max-width: 13em;
}

.about-picture {
  width: 100%;
}

.heading {
  font-family: Cormorant;
}

h3 {
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.process-container,
.materials-container,
.gallery-container,
.feedback-container {
  max-width: 100%;
  width: 1180px;
  margin: 0 auto;
}

.process-items-text {
  font-size: 20px;
}

.materials-content {
  display: flex;
}

.materials-text {
  text-align: center;
  font-family: Cormorant;
  font-size: clamp(2rem, 2vw, 4rem);
  font-style: normal;
  font-weight: 500;
  line-height: 60px;
}

.foto-item {
  margin: 5px;
  max-width: 100%;
}

.feedback-cards {
  background-color: #F9F6F2;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 30px;
  margin-inline-end: 30px;
  width: 280px;
  height: 540px;

}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: 1fr;
  justify-items: center;
}

@media screen and (max-width: 1260px) {
  .cards-container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
  }
}

@media screen and (max-width: 1020px) {
  .cards-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

@media screen and (max-width: 670px) {
  .cards-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
}

.foto-container {
  display: grid;
  grid-template-columns: 480px 280px 380px;
  gap: 20px;
  grid-template-rows: 515px 478px 567px;
}

.foto-item1 {
  grid-column: 1/3;
  grid-row: 1;
}

.foto-item2 {
  grid-column: 3;
  grid-row: 1;
}

.foto-item3 {
  grid-column: 1;
  grid-row: 2;
}

.foto-item4 {
  grid-column: 2;
  grid-row: 2;
}

.foto-item5 {
  grid-column: 3;
  grid-row: 2;
}

.foto-item6 {
  grid-column: 1/3;
  grid-row: 3;
}

.foto-item7 {
  grid-column: 3;
  grid-row: 3;
}

/*.footer-link-img {
  padding: 10px;
}*/

@media screen and (max-width: 1210px) {
  .foto-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
}

@media screen and (max-width: 600px) {
  .foto-container {
    display: block;
    text-align: center;
  }

  .heading {
    margin: 10px;
    font-size: 40px;
  }

  h3 {
    margin: 10px;
    font-size: 30px;
  }

  .text-block {
    margin: 7px;
  }

  .process-container {
    margin: 7px;
    width: auto;
  }

  .process-items-container {
    margin: 5px;

  }

  .footer-text-field {

    margin: 7px;
  }

  /*.footer-link-img {
    width: 80%;
  }*/

  /*.footer-links {
    text-align: center;
  }*/
}

.company-discounts {
  position: relative;
  overflow: hidden;
  display: flex;

  justify-content: center;
  align-items: center;
  margin: 5px 0;
}

.discounts-background {
  max-width: 1440px;
  max-height: 300px;
  object-fit: fill;
  width: 100%;
}

.discounts-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  z-index: 5;
  position: absolute;

  font-size: clamp(2rem, 3vw, 2rem);
}

.discount-span {
  color: #444343;
  font-style: italic;
  font-size: larger;
}

.feedback-text {
  padding: 10px;
  font-size: clamp(1rem, 2vw, 1rem);
}